
html, body {
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;	
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
}


.container {
	width: 80em;
	padding 0;
	margin: 0 auto;
	text-align: center;
	float: center;
}

/*----------------HOMEPAGE STYLES-----------------------*/

.navigation {
	background:url("Images/banner.png") top center repeat-x; 
	position: fixed;
	width: 100%;
	min-width: 1200px;
}

.logo, .top-banner {
	display: block;
	float: left;
}

.logo {
	text-align: right;
}

.logo img {
	width: 150px;
}

.top-banner {
	float: right;
	width: 800px;
}

.top-banner img {
	width: 40em;
}

@media only screen and (min-width: 1000px){
	.nav-bar {
		width: 975px;
		float: right;
		margin-right: 105px;
	}
	
	.navigation .container {
		color: white;
		width: 90em;
	}
	
	.nav ul {
		list-style-type: none;
		text-align: center;
		color: white;
	}
	
	.nav li {
		display: inline-block;
		font-size: 24px;
		padding-right: 20px;
		padding-left: 20px;
		text-transform: uppercase;
		color: white;
	}
	
	.nav a {
		text-decoration: none;
		color: white;
	}
	
	.nav a:hover, li:hover {
		transition: background .5s;  
		background: transparent !important;
		color: black;
	}
	
	.mobile-show {
		display: none;
	}
	
	.mobile-nav {
		display: none;
	}
}

@media only screen and (max-width: 1000px){
	.nav-bar {
		display: none;
	}
	
	.top-banner {
		display: none;
	}
	
	.mobile-show {
		margin-top: 100px;
		float: left;
		background-color: #E8E8E8;
		border-radius: 9px;
		border: none;
		width: 50px;
		height: 37px;
		text-align: center;
		padding: 0;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	
	.mobile-nav {
		background-color: #BB3232;
		text-align: center;
		list-style-type: none;
		display: none;
	}
	
	.mobile-nav ul {
		text-align: center;
		list-style-type: none;
		color: white;
		font-size: 30px;
		padding: 0;
	}
	
	.mobile-nav a {
		color: white;
		text-decoration: none;
	}

	.mobile-nav .adjust {
		padding-right: 30px;
	}

	.mobile-nav a:hover {
		transition: color .2s;  
		color: black;
	}

	.mobile-nav li:hover {
		background: #AB3232;
	}

	.mobile-nav .mobile-close {
		margin-top: 5px;
		margin-left: 5px;
		background: white;
		color: #bb3232;	
		border: none;
		border-radius: 20px;
		font-size: 16px;
		width: 30px;
		height: 30px;
		float: left;
	}

	.mobile-nav .mobile-close:hover {
		background: black;
		color: white;
	}

}

.menu-text, .menu-image {
	min-height: 450px;
	float: left;
	display: block;
	margin-top: 140px;

}

.menu-image {
	width: 620px;
}

.menu-text {
	width: 425px;
	background-color: #000000;
	font-family: 'Dosis', sans-serif;
	text-align: left;
	padding-left: 25px;
	color: white;
	font-size: 30px;
}

.menu-text h1 {
	color:#FF3232;
	font-size: 72px;
	text-transform: uppercase;
}

.menu-text p {
	margin-bottom: 40px;
}

.button {
  margin-left: 95px;
  background: #BB3232;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
}

.button:hover {
	color: black;
	text-decoration: none;
	background: white;
	cursor: pointer; 
	transition: background .5s;  
}

.specials .container {
	border-bottom: 2px solid black;
}

.dinner-two, .dinner-four, .pizzeria {
	min-height: 550px;
	float: left;
	display: block;
	width: 348px;
}

.placeholder {
	height: 250px;
	width: 250px;
	text-align: center;
	margin-top: 40px;
}

.subtitle {
	font-family: 'Dosis', sans-serif;
	font-size: 48px;
}

.description {
	margin-left: 15px;
	margin-right: 15px;
	font-size: 18px;
}

.subscribers {
	margin-top: 40px;
	font-size: 36px;
	margin-bottom: 50px;
}

.subscribers .container {
	width: 30em;
	float: center;
}

.subscribers .container h1 {
	font-family: 'Dosis', sans-serif;
	font-style: bold;
	font-size: 84px;
}

.subscribers .container p {
	font-size: 36px;
}

.subscribers .button {
  background: #BB3232;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
  margin-right: 100px;
  font-size: 36px;
}

.subscribers .button:hover, .extra-info .button:hover {
	color: white;
	text-decoration: none;
	background: #cb3c3c;
	cursor: pointer; 
	transition: background 0s;  
}

.extra-info {
	margin-bottom: 15px;
}

.extra-info .container {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.extra-info p {
	font-size: 22px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 20px;
}

.extra-info h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 48px;
}

.hours, .location {
	height: 250px;
	float: left;
	display: block;
	text-align: center;
	width: 522px;
}

.location .button {
	margin-left: 0px;;
	font-size: 20px;
	color: white;
}

.footer hr {
	float: center;
	text-align: center;
	 height: 3px;
    background: black;
    width: 70%;
}


.footer-text, .footer-images {
	text-align: center;
	float: center;
}

/*--------------------MENU PAGE STYLES---------------*/
.page-title .container {
	width: 58em;
	float: center;
}

.page-title h1 {
	margin-top: 150px;
	font-family: 'Dosis', sans-serif;
	font-style: bold;
	font-size: 108px;
}

.page-title hr {
    height: 3px;
    background: black;
    width: 50%;
}

.menu-links .menu-row a{
	margin-top: 145px;
}


.menu-links img {
	left: 0;
}

.menu-links img{
	position: absolute;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.menu-links .blurry:hover{
	opacity:0;
}



.menu-links hr {
	float: center;
    height: 3px;
    background: black;
    width: 50%;
}

.menu-footer .menu-hr {
	margin-top: 900px;
	float: center;
    height: 3px;
    background: black;
    width: 40%;
}

/* -------------------CATERING STYLES---------------*/
.catering .container {
	width: 58em;
	text-align: center;
	margin: 0 auto;
}

.catering h1 {
	margin-top: 150px;
	font-family: 'Dosis', sans-serif;
	font-style: bold;
	font-size: 108px;
}

.catering hr {
    height: 3px;
    background: black;
    width: 90%;
}

.catering-text, .catering-image {
	float: left;
	display: block;
	margin-bottom: 10px;
}

.catering-image {
	width: 300px;
}

.catering-text {
	width: 450px;
	font-family: 'Dosis', sans-serif;
	text-align: left;
	font-size: 210%;
}

.menu-viewer .container {
	width: 58em;
	margin: 0 auto;
	text-align: center;
}

.menu-viewer hr {
    height: 3px;
    background: black;
    width: 90%;
}

/* -------------------TAKEOUT SPECIALS STYLES---------------*/
.takeout-banner {
	height : 1000px;
	background-image: url("Images/privatefunctionsbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-width: 1200px;
}

.takeout-banner .container {
	float: center;
}

.takeout-banner .container .buttons {
	float: center;
	margin-top: 200px;
}

.buttons img {
	height: 100px;
	width: 100px;
	margin-left: 30px;
	 -webkit-transition: width 1s, height 1s; /* Safari */
    transition: width 1s, height 1s;
}

.buttons img:hover {
	height: 110px;
	width: 110px;

}

.specials-info {
	text-align: left;
	float: center;
	margin: auto;
	margin-top: 20px;
	width: 1000px;
	height: 600px;
	background-color: #BB3232;
}

.d2-text {
	padding-top: 40px;
}

.specials-info .d2-text ol li{
	color: white;
	font-size: 22px;
}

.specials-info .d2-text p {
	font-size: 24px;
}

.d4-text {
	padding-top: 30px;
}

.specials-info .d4-text ol li{
	color: white;
	font-size: 30px;
}

.specials-info .d4-text p {
	font-size: 30px;
}

.pizza-text {
	padding-top: 40px;
}

.specials-info .pizza-text ol li{
	color: white;
	font-size: 30px;
}

.specials-info .pizza-text p {
	font-size: 30px;
}


/*.takeoutspecials .container {
	width: 900px;
	float: center;
}

.takeoutspecials h1 {
	margin-top: 150px;
	font-family: 'Dosis', sans-serif;
	font-style: bold;
	font-size: 108px;
}

.takeoutspecials hr {
	float: center;
    height: 3px;
    background: black;
    width: 70%;
}

.takeoutspecials-title {
	font-family: 'Dosis', sans-serif;
	font-size: 42px;
}

.takeoutspecials-text, .specials-image {
	display: block;
	margin-bottom: 10px;
	float: center;
}

.takeoutspecials-image img {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.takeoutspecials-text {
	font-family: 'Dosis', sans-serif;
	text-align: left;
	font-size: 210%;
}

.takeoutspecials-text ol li {
	font-size: 20px;
}

.takeoutspecials-text p {
	font-size: 16px;
}

.takeoutspecials-text strong {
	color: #484f6c;
}

.takeoutspecials-text .pricetag {
	color: #484f6c;
	font-size: 28px;
}*/

/* -------------------PRIVATE FUNCTIONS STYLES---------------*/
.private-functions {
	height: 1000px;
	background-image: url("Images/catering2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-width: 1200px;
}

.private-functions .container {
	width: 900px;
	float: center;
}

.private-functions h1 {
	margin-top: 400px;
	font-family: 'Dosis', sans-serif;
	font-style: bold;
	font-size: 108px;
	color: white;

}

.private-functions p {
	font-size: 32px;
	color: white;
}

.booking {
	background: #BB3232;
	color: white;
	padding: 10px 30px;
	font-size: 36px;
	text-decoration: none;
	text-align: center;
}

.booking:hover {
	color: black;
	text-decoration: none;
	background: white;
	cursor: pointer; 
	transition: background .5s;  
}

.private-function-details .container {
	width: 900px;
	float: center;
}

.details {
	float: center;
	margin-top: 30px;
	font-size: 24px;
	text-align: center;
}

.details li {
	margin-top: 10px;
	float: center;
	text-align: left;
}

.private-function-details hr {
	float: center;
    height: 3px;
    background: black;
    width: 70%;
}

/* -------------------CONTACT US STYLES---------------*/
.contact-us-banner {
	height : 350px;
	background-image: url("Images/contactusbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-width: 1200px;
}

.contact-us-banner .container {
	width: 900px;
	float: center;
}

.contact-us-banner h1 {
	margin-top: 180px;
	font-family: 'Dosis', sans-serif;
	font-style: bold;
	font-size: 108px;
	color: white;
}

.contact-details .container {
	width: 900px;
	float: center;
	margin-top: 10px;
}

.contact-details p {
	text-transform: uppercase;
	font-size: 22px;
	font-style: bold;
}

.contact-details .phone-num-heading {
	font-family: 'Dosis', sans-serif;
	text-transform: none;
	font-style: bold;
	font-size: 38px;
}

.contact-details .phone-num {
	margin-left: 20px;
	text-align: left;
	text-transform: none;
}

.contact-details a {
	float: center;
}

.contact-details hr {
	float: center;
	height: 3px;
    background: black;
    width: 70%;
}

.contact-details .contact-text {
	font-size: 22px;
	font-style: bold;
	text-transform: none;
	margin-left: 20px;
	text-align: center;
}

/* -------------------SUBSCRIBE PAGE STYLES---------------*/
.subscribe-bg {
	height : 800px;
	background-image: url("Images/subclubbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-width: 1200px;
}

.subscribe-bg .container {
	width: 1100px;
}

.subscribe-bg .content h3 {
	margin-top: 230px;
	font-family: 'Dosis', sans-serif;
	font-style: bold;
	font-size: 108px;
	color: white;
}

.subscribe-bg .content {
	font-size: 24px;
}

.subscribe-bg .content input {
	height: 60px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.form-table {
	float: left;
	margin: 0 auto;
	text-align: right;
}

.sub-info {
	float: left;
	color: white;
	font-size: 33px;
	text-align: left;
	text-decoration: none;
	margin-right: 20px;
}

.sub-info li:hover {
	color: white;
}

.sub-button {
	text-transform: uppercase;
	width: 100%;
	background: #BB3232;
  	color: white;
  	border: none;
}

.sub-button:hover {
	background: #cb3c3c;
	cursor: pointer; 
	transition: background 0s; 
}



